.popupParent {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .popupImage {
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    overflow: hidden;
    .popupImage img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .imageClosingButton,
    .imageDeletingButton {
      position: relative;
      z-index: 99;
      top: 3px;
      font: inherit;
      line-height: 1rem;


    }
  }
}
