.popupParent {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 .popupImage {
  position: relative;
  width: 85%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  overflow: hidden;

  .imageClosingButton,.imageDeletingButton {
     position: relative;
     left: -0.2%;
     z-index:99;
     top: 2px;
     font:inherit;
     line-height:1rem;
}
}

 .popupImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .drag-area{
     padding: 10px;
     height: 10vh;
     border: 5px dashed #7649bc;
     outline: none;
     cursor: pointer;
}
 