.gallery {
  margin: 20px auto 40px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  .wrap_img {
    width: 98%;
    height: 98%;
  }
  .noImages {
    margin-left: auto;
    margin-right: auto;
  }
}
