@import './variables.scss';

.footer {
  background-color: $footer-color;
  height: $footer-hight;
  margin-top: -5px;
  line-height: $footer-hight;
  .footer-container {
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: $small-font-size;
    .footer-link {
      color: #adcce9;
      display: inline-block;
      margin-right: 1%;
    }
    .footer-text {
      color: white;
      display: inline-block;
      margin: 0 0.3% 0 0;
    }
  }
}
