@import './variables.scss';
@font-face {
  font-family: Oswald;
  src: url(./fonts/Oswaldregular.woff) format('woff');
  src: url(./fonts/Oswaldregular.woff2) format('woff2');
  src: url(./fonts/Oswaldregular.ttf) format('truetype');
}

@font-face {
  font-family: OpenSans;
  src: url(./fonts/opensans.woff) format('woff');
  src: url(./fonts/opensans.woff2) format('woff2');
}

html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: $font-stack;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  color: #111111;
  background: #ffffff;
  height: auto;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  --effect-scale: 1.1;
  font-size: 16px;
  line-height: 1.6;
}

body,
h1,
p,
ul[class],
li,
figure {
  margin: 0;
}

#root {
  height: 100%;
}

ul[class] {
  list-style: none;
  padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  font-family: inherit;
  font-size: inherit;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
  color: -internal-light-dark(black, white) !important;
}
