$title-font: Oswald;
$main-font: OpenSans;
$txt-font-size: 0.9rem;
$small-font-size: 0.8rem;
$font-stack: opensans, sans-serif, Roboto, Helvetica, Arial;
$header-hight: 80px;
$footer-hight: 80px;
$text-color: #111111;
$active-href-color: #478ac9;
$footer-color: #333333;
$width-button: 24px;
$height-button: 24px;
$mistake-missage-color: #d0312d;
