.header {
  color: #111111;
  width: 100%;
  width: 100%;
  padding: 10px 15px;
  min-height: 80px;
  flex:0 0 auto;

}

.container-header {
  font-style: bold;
  margin: 30px 1% 0 1% ;
}

.logo {
  float: left;
  font-size: 27px;
  font-stretch: ultra-expanded;
  margin-top: -18px;
}


nav {
  font-family: opensans;
  font-size: 0.8rem;
  letter-spacing: 0px;
  float: right;
  letter-spacing: 0px;
  white-space: nowrap;
  line-height: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #111111;
}

a:active {
  color: #478ac9;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 28px;
  right: 25px;
  width: 23px;
  height: 21px;
  cursor: pointer;
  z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -9px;
}
.menu__btn > span::after {
  content: '';
  top: 9px;
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 1;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: Open-sens, sans-serif;
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

@media only screen and (max-width: 991px){
.hamburger-menu {
  display: block;
}
.menu {
  display: none;
}
}